:root {
    --border-radius-1: 2px;
    --border-radius-2: 5px;
    --z-index-low: 1;
    --z-index-mid: 2;
    --z-index-high: 3;
}

.light {
    --color-primary: #e4d3d3;
    --color-secondary: #131212;
    --color-transitive-1: #cfbcbc;
    --color-transitive-2: #a89999;
    --color-transitive-2-alpha: #1312122a;
    --color-default: var(--color-secondary);
    --color-purple: #53376d;
    --color-red: #6d3737;
    --color-green: #406d37;
    --color-brown: #6d4f37;
    --color-yellow: #6d6037;
    --color-blue: #373f6d;
    --color-pink: #6d376a; 
    accent-color: #181616;
    color-scheme: light;
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;

    font-family: verdana, sans-serif;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;

    color: var(--color-secondary);
}


/******************************
 * BUTTONS
 ******************************/

button,
[type="button"],
[type="reset"],
[type="submit"] {
    appearance: button;
    -webkit-appearance: button;
}
button {
    overflow: visible;
    text-transform: none;
    border: none;
    background-color: var(--color-transitive-1);
    color: var(--color-secondary);
    cursor: pointer;
    border-radius: var(--border-radius-2);
    font-size: unset;
}

button:hover,
button:active,
button:focus {
    box-shadow: transparent;
}
button:active {
    background-color: var(--color-transitive-2);
}
