.container-color {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.item-color {
    padding: 5px;
}

.item-color input[type="checkbox"]:checked,
.item-color input[type="radio"]:checked + .color {
    opacity: 80%;
    outline: 2px solid var(--color-secondary);
    outline-offset: 1px;
}

[type="checkbox"].color {
    appearance: unset;
}

.color {
    width: var(--color-size);
    height: var(--color-size);
    border-radius: var(--border-radius-2);
    cursor: pointer;
}
.color.default {
    background-color: var(--color-default);
}
.color.blue {
    background-color: var(--color-blue);
}
.color.purple {
    background-color: var(--color-purple);
}
.color.pink {
    background-color: var(--color-pink);
}
.color.red {
    background-color: var(--color-red);
}
.color.brown {
    background-color: var(--color-brown);
}
.color.yellow {
    background-color: var(--color-yellow);
}
.color.green {
    background-color: var(--color-green);
}

@media (hover: hover) and (pointer: fine) {
    .color:hover {
        outline: 2px solid var(--color-transitive-2);
    }
}

@media screen and (max-width: 779px) {
    .container-color {
        --color-size: 20px;
    }
}

@media screen and (min-width: 780px) {
    .container-color {
        --color-size: 30px;
    }
}
