header {
    --button-size: 30px;
    --button-c-size: calc(var(--button-size) + 10px);
    --header-padding: 10px;
    /*
     * The +5px are the difference between
     * the header-button.center width and the others header-buttons.
     */
    --button-align: calc(var(--header-padding) + 5px);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    position: sticky;
    top: 0;
    z-index: var(--z-index-low);
    padding-top: var(--header-padding);
    padding-bottom: var(--header-padding);
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.header-button:not(.center) {
    width: var(--button-size);
    position: absolute;
}

.header-button.center {
    width: var(--button-c-size);
}

.header-button.left {
    left: var(--button-align);
}

.header-button.right {
    right: var(--button-align);
}

#header_button-theme[data-value="dark"] .icon-sun {
    display: bock;
}
#header_button-theme[data-value="dark"] .icon-moon {
    display: none;
}
#header_button-theme[data-value="light"] .icon-sun {
    display: none;
}
#header_button-theme[data-value="light"] .icon-moon {
    display: block;
}

/* desktop */
@media screen and (min-width: 780px) {
    #header_button-filter {
        display: none;
    }
}
