
.container-tags {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button-tag {
    margin: 2px;
    padding: 2px 6px;
    font-size: var(--span-font-size);
}

.input-tags {
    position: relative;
}
.input-tags input {
    padding: 5px;
}

.input-tags input:focus ~ .tags-suggested[data-show="1"] {
    display: block;
}

.tags-suggested {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 100px;
    overflow: auto;
    transform: translateY(4px);
    background-color: var(--color-transitive-2);
    border-radius: var(--border-radius-1);
    padding: 5px;
}

/*Selected*/
.tags-selected>p {
    padding: 0 10px;
}
.tags-selected .container-tags-selected {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

