.todo[data-display="1"] {
    display: flex;
    flex-direction: row;
    min-width: 240px;
    max-width: 450px;
    height: min-content;
    margin: 10px;
    transition: all .5s ease-out;
}
.todo[data-color="default"] {
    --color: var(--color-default);
}
.todo[data-color="blue"] {
    --color: var(--color-blue);
}
.todo[data-color="purple"] {
    --color: var(--color-purple);
}
.todo[data-color="pink"] {
    --color: var(--color-pink);
}
.todo[data-color="red"] {
    --color: var(--color-red);
}
.todo[data-color="brown"] {
    --color: var(--color-brown);
}
.todo[data-color="yellow"] {
    --color: var(--color-yellow);
}
.todo[data-color="green"] {
    --color: var(--color-green);
}

.todo[data-completed="1"] {
    opacity: 80%;
}

.todo[data-completed="0"] .todo-button.remove {
    display: none;
}
.todo[data-completed="1"] .todo-button.edit {
    display: none;
}
.todo[data-completed="0"] .todo-button .checked {
    display: none;
}

.todo .left {
    color: var(--color);
    width: 100%;
    padding: 10px;
    border: 2px solid var(--color);
    border-top-left-radius: var(--border-radius-2);
    border-bottom-left-radius: var(--border-radius-2);
}

.todo-header {
    display: flex;
    align-items: center;
    justify-content:space-between;

    position: relative;
    padding-bottom: 10px;
}

.todo-header button {
    display:flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    position:absolute;
    right: 0;
    font-size: unset;
    color: var(--color);
}

.todo-header button p {
    padding: 2px 4px;
}


.todo .right button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: 5px;
    background-color: var(--color);
    color: var(--color-transitive-1);
    border-radius: unset;
    border-top-right-radius: var(--border-radius-2);
    border-bottom-right-radius: var(--border-radius-2);
}

.todo .right button .icon {
    width: 30px;
}

.todo-footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}



.todo-tag {
    padding: 2px;
}
.todo-tag span {
    border: 1px solid var(--color);
    border-radius: var(--border-radius-2);
    padding: 1px 4px;
}

@media screen and (max-width: 779px) {
    .todo {
        width: 100%;
    }
}
